<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Polygon" value="Circle"/>
      <add key="Triangle" value="3,4,5"/>
      <add key="Square" value="3"/>
      <add key="Circle" value="3"/>
      <add key="Rectangle" value="3,4"/>
    </appSettings>
</configuration>